/target
/lib
/classes
/checkouts
pom.xml
test-config.edn
*.jar
*.class
/.lein-*
profiles.clj
/.env
.nrepl-port
/.clj-kondo/.cache/
/.lsp/.cache/
/.calva/output-window/
/.shadow-cljs
/node_modules
/log


